<!DOCTYPE html>
<html>
<title>Dog & Cat Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <title>Progress</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <!-- JQuery and Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Tableau JS API + Function-->
    <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <script type="text/javascript">
        function initViz() {
            var containerDiv = document.getElementById("vizContainer"),
                url = "https://public.tableau.com/views/FinalProject3_15995531841750/DallasShelterCatDogCountbyZipcodeDB?:language=en&:retry=yes&:display_count=y&:origin=viz_share_link",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function() {
                        console.log("Run this code when the viz has finished loading.");
                    }
                };

            var viz = new tableau.Viz(containerDiv, url, options);
            // Create a viz object and embed it in the container div.
        }
    </script>

</head>

<body onload="initViz();">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dashboards</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " href="/dash_main">Main Dashboard<span class="sr-only"></span></a>
                        <a class="dropdown-item " href="/dash_cat_dog">Cat & Dog<span class="sr-only"></span></a>
                        <a class="dropdown-item " href="/dash_cat">Cat  <span class="sr-only"></span></a>
                        <a class="dropdown-item" href="/dash_dog">Dog </a>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Predictions</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " href="/cat_predictions">Cat Prediction <span class="sr-only"></span></a>
                        <a class="dropdown-item" href="/dog_predictions">Dog Predictions</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/methodology">Methodology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
            </div>
    </nav>
    <!-- Load Tableau Viz on load-->



    <!-- Creates the Overall Grid -->



    <!-- Tableau Viz -->
    <div class="row justify-content-end">
        <div class="col-lg-12 bordered">
            <center>
                <h1>Tableau Dashboard</h1>
                <div id="vizContainer" style="width:100%; height:800px;"></div>
            </center>

        </div>
    </div>
    <!--Footer-->
    <div>
        <div style="background-color: #671e97;">
            <footer class=" container-fluid alert alert-secondary" style="text-align: center">
                <span>
                <h4>Design and analysis by: <a href="https://github.com/anag33">Ana Gill,</a> <a href="https://github.com/chris-krokus">Chris Krokus,</a> <a href="https://github.com/Chriztion">Christion Lankford,</a> <a href="https://github.com/UncelSoogar">Chris Lichliter,</a>     Source Code Hosted on <a href="https://github.com/Chriztion/Project2-Group-4">GitHub.</a>   Data from <a href="https://www.dallasopendata.com/" target="_blank">Dallas OpenData</a>.</h4>
            </span>
            </footer>
        </div>
    </div>
</body>

</html>