<!DOCTYPE html>
<html>
<title>Work In Progress</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,
    h1 {
        font-family: "Raleway", Arial, sans-serif
    }
    
    h1 {
        letter-spacing: 6px
    }
    
    .w3-row-padding img {
        margin-bottom: 12px
    }
</style>

<head>
    <title>Progress</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Project Name</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Methodology</a></li>
                <li><a href="#">About Us</a></li>

            </ul>
        </div>
    </nav>

    <body>

        <!-- !PAGE CONTENT! -->
        <!-- Our rows function in containers (grid created). -->


        <!-- Creates the Overall Grid -->
        <div class="container">

            <!-- First Row -->
            <div class="row">

                <!-- First of two columns -->
                <div class="col-sm-6">
                    <h1>Text</h1>
                </div>

                <!-- Second of two columns -->
                <div class="col-sm-6">
                    <h1>Tableau Dashboard</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-lg-push-10 col-md-2 col-md-push-0 col-sm-2 col-sm-push-0 col-xs-2 col-xs-push-0">
                    <div class="pull-right">
                        <h1>ML Input</h1>
                    </div>
                </div>
            </div>
        </div>
        </div>



        <!-- End Page Content -->
        </div>

        <!-- Footer -->
        <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">

            <i class="fa fa-linkedin w3-hover-opacity"></i>
            <i style="font-size:24px" class="fa">&#xf09b;</i>
            <p>Created by <a href="https://github.com/chris-krokus/Project-3-Group-4" target="_blank" class="w3-hover-text-green">.</a></p>
        </footer>

    </body>

</html>