<!DOCTYPE html>
<html>
<title>Methodology</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,
    h1 {
        font-family: "Raleway", Arial, sans-serif
    }
    
    h1 {
        letter-spacing: 6px
    }
    
    .w3-row-padding img {
        margin-bottom: 12px
    }
</style>

<head>
    <title>Progress</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dashboards</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " href="/dash_main">Main Dashboard<span class="sr-only"></span></a>
                        <a class="dropdown-item " href="/dash_cat_dog">Cat & Dog<span class="sr-only"></span></a>
                        <a class="dropdown-item " href="/dash_cat">Cat  <span class="sr-only"></span></a>
                        <a class="dropdown-item" href="/dash_dog">Dog </a>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Predictions</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " href="/cat_predictions">Cat Prediction <span class="sr-only"></span></a>
                        <a class="dropdown-item" href="/dog_predictions">Dog Predictions</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/methodology">Methodology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
            </div>
    </nav>

    <!--read in PDF -->
    <div class="col-md-12">
        <iframe src="../static/imgs/Methodology.pdf" width="100%" height="700px"></iframe>
    </div>


    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">

        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <i style="font-size:24px" class="fa">&#xf09b;</i>
        <p>Created by <a href="https://github.com/chris-krokus/Project-3-Group-4" target="_blank" class="w3-hover-text-green">.</a></p>
    </footer>

</body>

</html>